body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    background: linear-gradient(to right, #7700ff, #ffbb00 100%);
    /* background: linear-gradient(89deg, #ff5edf, #04c8de 100%); */
}